:root {
    --white: #fff;
    --light-grey: #f6f9fc;
    --grey: #f1f4f8b0;
    --dark-grey: #6b7c93;
    --green: #24b47e;
    --teal: #4f96ce;
    --blue: #6772e5;
    --light-blue: #3396d3;
    --gold: #e39f48;
    --pink: #b76ac4;
    --brown: #cec4b0;
    --black: #32325d;
    --red: #d95c6e;
    --purple: #a38cdc;
    --transition-duration: 1250ms;
    --transition-delay: 250ms;
    --spacer: 28px;

    --red-button: linear-gradient(180deg, #f5515f, #a1051d);
    --green-button: linear-gradient(180deg, #3ecf8e, #1a965f);
    --purple-button: linear-gradient(180deg, #a387e5, #583aa1);
    --light-blue-button: linear-gradient(180deg, #89b1ff, #5b8def);
    --gold-button: linear-gradient(180deg, #ffc476, #e39f48);
    --blue-button: linear-gradient(180deg, #7c7ebf, #414384);
    --secondary-button: #fff;

    --crumb-blue-text: #6772e5;
    --crumb-blue-bg: #bcdaff;
    --crumb-light-blue-text: #3a8cf7;
    --crumb-light-blue-bg: #d6e6f4;
    --crumb-light-blue-border: #d6e6f452;
    --crumb-blue-border: #bcdaff52;
    --crumb-purple-text: #50319b;
    --crumb-purple-bg: #e1dbee;
    --crumb-purple-border: #e1dbee52;
    --crumb-green-text: #24b47e;
    --crumb-green-bg: #d6facf;
    --crumb-green-border: #d6facf52;
    --crumb-gold-bg: #ffeacf;
    --crumb-gold-text: #e39f48;
    --crumb-gold-border: #ffeacf52;
    --crumb-red-text: #800a1b;
    --crumb-red-bg: #f8c9cd;
    --crumb-red-border: #f8c9cd52;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    overflow-y: scroll;
    background: var(--light-grey);
    color: var(--black);
    margin: 0;
    overflow-x: hidden;
}

button {
    border: 0;
    background: transparent;
    font-family: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--blue);
    font-weight: inherit;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0 0 1rem;
}

textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    border: none;
    outline: none;
    resize: none;
    font-weight: 400;
    padding: 13px;
    font-size: 14px;
    background: #f1f3f6;
    border-radius: 4px;
    resize: none;
    transition: background 0.1s ease-in, color 0.1s ease-in;
    height: 120px;
    width: 100%;
    border: 2px solid #f1f3f6;
}

textarea:active,
textarea:focus {
    background: var(--white);
}

input {
    font-family: inherit;
    border: none;
    outline: none;
}

select {
    border: 1px solid #eee;
    color: var(--black);
    font-family: inherit;
    font-weight: 400;
    padding: 15px 15px 15px 8px;
    border-radius: 8px;
    background-color: #f1f3f6;
    outline: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg aria-hidden='true' data-prefix='fas' data-icon='caret-down' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' class='svg-inline--fa fa-caret-down fa-w-10 fa-3x'%3e%3cpath fill='currentColor' d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z' class=''/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 0.8em;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
}

.snackbar {
    position: fixed;
    bottom: 20px;
    right: 40px;
    outline: none;
}
